
<html>
            <div className = 'wrapper' >
                <form action="">
                    <h1>Login Page</h1>
                    <div className = "input-box">
                        <input type = "text" placeholder= "Username" required />
                    </div>
                    <div className = "input-box">
                        <input type = "password" placeholder = 'Password' required />
                    </div>
                    <div className= "remember-forgot">
                        <button type = "submit">Login</button>
                        <label><input type="checkbox"/>Remember me</label>
                        <a href="#">Forgot password?</a>
                    </div>
                </form>
            </div>
</html>